html, body { height: 100%; margin: 0; padding: 0;}
#map-canvas { margin-left: 20px; margin-top: 20px;}
.rcorners {
	border-radius: 25px;
	border: 2px solid;
	padding: 20px;
	width: 1000px;
	height: 600px;
}
